@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	/* TODO We can do darkmode another day */
	/* color: var(--foreground); */
	/* background: var(--background); */
	color: initial;
	font-family: Arial, Helvetica, sans-serif;
}

.no-height-change-rotate {
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	white-space: nowrap;
	display: inline-block;
	overflow: visible;
}

.container {
	max-width: 70rem;
	margin: 0 auto;
	border-top: none;
}

